# Node modules
node_modules/

# Build output
dist/
built/

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
logs
*.log

# Environment variables
.env
.env.local
.env.*.local

# OS files
.DS_Store
Thumbs.db

# IDE/editor
.vscode/
.idea/
*.swp

# TypeScript cache
*.tsbuildinfo
dist/